<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Checker</servlet-name>
        <servlet-class>Accounts.Checker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/r</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Accounts.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checker</servlet-name>
        <url-pattern>/Checker</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ExitAccount</servlet-name>
        <servlet-class>BackManager.ExitFromConsumerAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitAccount</servlet-name>
        <url-pattern>/ExitConsumerAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExitAdmin</servlet-name>
        <servlet-class>BackManager.ExitFromAdministrationAccount
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitAdmin</servlet-name>
        <url-pattern>/ExitAdminAccount</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EnterFromConsumer</servlet-name>
        <servlet-class>EnterManager.EnterFromConsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromConsumer</servlet-name>
        <url-pattern>/EnterFromConsumer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToConsumer</servlet-name>
        <servlet-class>BackManager.BackToConsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToConsumer</servlet-name>
        <url-pattern>/BackToConsumer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnterFromManager</servlet-name>
        <servlet-class>EnterManager.EnterFromManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromManager</servlet-name>
        <url-pattern>/EnterFromManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToManager</servlet-name>
        <servlet-class>BackManager.BackToManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToManager</servlet-name>
        <url-pattern>/BackToManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnterFromAdmin</servlet-name>
        <servlet-class>EnterManager.EnterFromAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromAdmin</servlet-name>
        <url-pattern>/EnterFromAdmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToAdmin</servlet-name>
        <servlet-class>BackManager.BackToAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToAdmin</servlet-name>
        <url-pattern>/BackToAdmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnterFromWorker</servlet-name>
        <servlet-class>EnterManager.EnterFromWorker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromWorker</servlet-name>
        <url-pattern>/EnterFromWorker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToWorker</servlet-name>
        <servlet-class>BackManager.BackToWorker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToWorker</servlet-name>
        <url-pattern>/BackToWorker</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EnterFromCourier</servlet-name>
        <servlet-class>EnterManager.EnterFromCourier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromCourier</servlet-name>
        <url-pattern>/EnterFromCourier</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Accounts.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

</web-app>