td {
  border: solid black 1px;
}

thead {
  border: 2px;
  font-weight: bold;
}

.maindiv {
  width: 48%;
  margin: 0 auto;
  padding: 26px;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 0 5px -2px black;
  box-shadow: 1px 0 5px -2px black;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

td {
  width: 50%;
}

#back {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
  font-size: 16px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  color: grey;
  border: 2px grey solid;
}

#back:hover {
  background-color: grey;
  color: #fff;
}

.sum {
  font-size: 24px;
  font-family: cursive;
}