td{
    border: solid black 1px;
}
.maindiv{
    width: 50%;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 0 5px -2px black;
    box-shadow: 1px 0 5px -2px black;
    margin: 0 auto;
    padding: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}
.refusediv, .dodiv{
    float:left;
    text-align: right;
}
.allprice{
    text-align: right;
}
.nametd{
    width: 40%;
}
.counttd{
    width: 25%;
}
.pricetd{
    width: 35%;
}
.consumerdiv, .datediv{
    float:left;
    width: 50%;
}
.datediv{
    text-align: right;
}
.tablediv{
    -webkit-box-shadow: 1px 0 5px -2px black;
    box-shadow: 1px 0 5px -2px black;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
}

#back {
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    color: grey;
    border: 2px grey solid;
}

#back:hover , .refusediv > form > input:hover, #done:hover{
    background-color: grey;
    color: #fff;
}

.refusediv > form > input, #done{
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    color: grey;
    border: 2px grey solid;
}