.maindiv{
    width: 50%; box-sizing: border-box; border: solid black 2px; margin: 0 auto; padding: 20px;
}
table{
    width: 100%; margin: 0 auto; box-sizing: border-box; border-collapse: collapse;
}
.theadpricetd{
    width: 35%;
    text-align: center;
}
.theadproducttd{
    width: 65%;
    text-align: center;
}
.nametd{
    border: solid black 1px;
    width: 30%;
}
.pricetd{
    border: solid black 1px;
    width: 20%;
    text-align: center;
}
.editbutton, .deletebutton{
    width: 25%
}