.headerTitle{
    text-align: center;
    height: 80px;
    font-size: 60px;
    border-bottom: solid black 1px;
}
.maindiv{
    width: 40%;
    margin: 0 auto;
    border: solid black 2px;
    padding: 30px;
    box-sizing: border-box;
}
.filllist{
    padding-top: 30px;
    text-align : center;
}
.error{
    color : darkred;
}