body{
    box-sizing: border-box;
}
.maindiv{
    width: 50%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: solid black 2px;
}
image{
    height: 300px;
    width: 280px;
}
.imgdiv{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.namediv{
    text-align: left;
    float: left;
}
.pricediv{
    text-align: right;
    float: right;
}
.namediv > input{
    width: 40px;
}
.backbutton{
    float: left;
    text-align: left;
}
.basketbutton{
    float: right;
}