<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>accounts.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/r</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExitAccount</servlet-name>
        <servlet-class>backManager.ExitFromConsumerAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitAccount</servlet-name>
        <url-pattern>/ExitConsumerAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExitAdmin</servlet-name>
        <servlet-class>backManager.ExitFromAdministrationAccount
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitAdmin</servlet-name>
        <url-pattern>/ExitAdminAccount</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EnterFromConsumer</servlet-name>
        <servlet-class>enterManager.EnterFromConsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromConsumer</servlet-name>
        <url-pattern>/EnterFromConsumer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToConsumer</servlet-name>
        <servlet-class>backManager.BackToConsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToConsumer</servlet-name>
        <url-pattern>/BackToConsumer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnterFromManager</servlet-name>
        <servlet-class>enterManager.EnterFromManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromManager</servlet-name>
        <url-pattern>/EnterFromManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToManager</servlet-name>
        <servlet-class>backManager.BackToManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToManager</servlet-name>
        <url-pattern>/BackToManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnterFromAdmin</servlet-name>
        <servlet-class>enterManager.EnterFromAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromAdmin</servlet-name>
        <url-pattern>/EnterFromAdmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToAdmin</servlet-name>
        <servlet-class>backManager.BackToAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToAdmin</servlet-name>
        <url-pattern>/BackToAdmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnterFromWorker</servlet-name>
        <servlet-class>enterManager.EnterFromWorker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromWorker</servlet-name>
        <url-pattern>/EnterFromWorker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackToWorker</servlet-name>
        <servlet-class>backManager.BackToWorker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackToWorker</servlet-name>
        <url-pattern>/BackToWorker</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EnterFromCourier</servlet-name>
        <servlet-class>enterManager.EnterFromCourier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterFromCourier</servlet-name>
        <url-pattern>/EnterFromCourier</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>accounts.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OpenSingleProduct</servlet-name>
        <servlet-class>enterManager.OpenSingleProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenSingleProduct</servlet-name>
        <url-pattern>/OpenSingleProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OpenProductFromAM</servlet-name>
        <servlet-class>enterManager.OpenProductFromAM</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenProductFromAM</servlet-name>
        <url-pattern>/OpenProductFromAM</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveEditedProduct</servlet-name>
        <servlet-class>saveManager.SaveEditedProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveEditedProduct</servlet-name>
        <url-pattern>/SaveEditedProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>saveManager.GetImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ProductOrder</servlet-name>
        <servlet-class>orderManager.ProductOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductOrder</servlet-name>
        <url-pattern>/ProductOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveOrderProduction</servlet-name>
        <servlet-class>orderManager.SaveOrderProduction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveOrderProduction</servlet-name>
        <url-pattern>/SaveOrderProduction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>orderManager.DeleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditOrder</servlet-name>
        <servlet-class>orderManager.EditOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditOrder</servlet-name>
        <url-pattern>/EditOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitDeliveryByCourier</servlet-name>
        <servlet-class>orderManager.SubmitDeliveryByCourier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitDeliveryByCourier</servlet-name>
        <url-pattern>/SubmitDeliveryByCourier</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderResource</servlet-name>
        <servlet-class>orderManager.OrderResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderResource</servlet-name>
        <url-pattern>/OrderResource</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ConfirmRefuseResourceOrder</servlet-name>
        <servlet-class>orderManager.ConfirmRefuseResourceOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmRefuseResourceOrder</servlet-name>
        <url-pattern>/ConfirmRefuseResourceOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SaveNewResource</servlet-name>
        <servlet-class>saveManager.SaveNewResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveNewResource</servlet-name>
        <url-pattern>/SaveNewResource</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteResource</servlet-name>
        <servlet-class>deleteManager.DeleteResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteResource</servlet-name>
        <url-pattern>/DeleteResource</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>deleteManager.DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RefuseProductOrder</servlet-name>
        <servlet-class>orderManager.RefuseProductOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefuseProductOrder</servlet-name>
        <url-pattern>/RefuseProductOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DoProductOrder</servlet-name>
        <servlet-class>orderManager.DoProductOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoProductOrder</servlet-name>
        <url-pattern>/DoProductOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AjaxChecker</servlet-name>
        <servlet-class>accounts.AjaxChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxChecker</servlet-name>
        <url-pattern>/AjaxChecker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>accounts.CheckEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckPhone</servlet-name>
        <servlet-class>accounts.CheckPhone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckPhone</servlet-name>
        <url-pattern>/CheckPhone</url-pattern>
    </servlet-mapping>
</web-app>